<%- include('header') %> 
    <h1 class="pageHeading">LÄGG TILL NY MEDLEM</h1>
    <main>
        <form action="/members/createMember" method="post">
            <label for="name">Namn:</label>
            <input type="text" id="name" name="name">
            <label for="email">Epost:</label>
            <input type="email" id="email" name="email">
            <label for="phone">Telefonnummer:</label>
            <input type="tel" id="phone" name="phone">
            <label for="created">Medlemskap skapades:</label>
            <input type="date" id="created" name="created">
            <label for="favoriteWorkout">Favorit träningspass:</label>
            <input type="text" id="favoriteWorkout" name="favoriteWorkout">
            <button type="submit">Lägg till</button>
        </form>
    </main>
<%- include('footer') %> 