<footer class="mainFooter">
    <section class="infoSection">
        <section class="addressSection">
            <p>adress</p>
            <p>postnummer</p>
            <p>ort</p>
        </section>
        <p>info@namn.se</p>
        <p>08-000 00 00</p>
    </section>
    <!--
    <section class="iconSection">
        <span class="iconify" data-icon="akar-icons:facebook-fill" style="color: #f4f4ee;" data-width="45" data-height="45"></span>
        <span class="iconify" data-icon="ant-design:instagram-filled" style="color: #f4f4ee;" data-width="45" data-height="45"></span>
        <span class="iconify" data-icon="dashicons:email-alt" style="color: #f4f4ee;" data-width="45" data-height="45"></span>
    </section>
    -->
</footer>
</body>
</html>