        <footer class="mainFooter">
                <section class="addressSection">
                    <p>adress</p>
                    <p>postnummer</p>
                    <p>ort</p>
                </section>
                <p>info@namn.se</p>
                <p>08-000 00 00</p>
        </footer>
    </div>
</body>
</html>