<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <!--<style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
    </style>
    <link rel="stylesheet" href="/styling/style.css">
-->
</head>
<body>
    <header>
        <nav class="mainNav">
            <a href="/">
            <!--
                <span class="iconify" data-icon="fa-solid:dumbbell" style="color: #000000;" data-width="50" data-height="40"></span>
            -->
            </a>
            <div class="navLinks">
                <a href="/members" class="noLinkStyle">
                    MEDLEMMAR
                </a>
                <a href="/members/createMember" class="noLinkStyle">
                    LÄGG TILL NY MEDLEM
                </a>
            </div>
        </nav>
    </header>
<!-- Kod här -->