<%- include('header') %> 
    <main class="landingPageMain">
        <h1 class="landingPageH1">LOREM IPSUM DOLOR SIT AMET</h1>
        <p class="landingPagePara">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident eaque fugiat necessitatibus voluptates tempore, quia quidem fugit magnam iusto, quas dolorem delectus accusamus earum ut odit, iste excepturi cumque harum.
        Tempora beatae minus, quam fuga a placeat ut, enim dolore voluptas autem, nulla dolorum inventore. Quam ex eum numquam ad velit nobis. Recusandae, iusto hic. Quia labore minus sequi est!
        Ea, modi ipsam. Porro distinctio nisi corporis accusamus nam eaque provident eos aliquam veniam nulla quod, iste tempora consequatur similique perspiciatis quae, reiciendis necessitatibus voluptatibus exercitationem placeat perferendis. Corporis, numquam?</p>
    </main>
<%- include('footer') %> 