<%- include('header') %> 
    <h1 class="pageHeading">MEDLEMMAR</h1>
    <main>
        <section class="selectWrapper">
            <button class="sortBtn">Sortera pil ner</button>
            <div class="dropdown">
                <a href="/members?sort=0">Ingen</a>
                <a href="/members?sort=1">Namn A-Ö</a>
                <a href="/members?sort=-1">Namn Ö-A</a>
            </div>
        </section>
        <ul class="membersList">
            <% members.forEach(member => { %>
                <li class="memberLi shadow">
                    <a href="/members/member/<%= member._id %>" class="noLinkStyle">
                        <!--<span class="iconify" data-icon="healthicons:exercise-weights" style="color: #f4f4ee;" data-width="70" data-height="70"></span> -->
                        <section class="memberInfo">
                            <h2 class="memberName"><%= member.name %></h2>
                        </section>
                    </a>
                </li>
            <% }) %>
        </ul>
    </main>
<%- include('footer') %> 